.container{
    width: 70vw;
    margin: 0 50px;
    /* display: grid; */
    column-count: 5;
    column-gap: 20px;
    position: absolute;
    right: 0;
    top: 20vh;
}
.container_item{
    margin: 0 0 20px 0 ;
    /* width: 30px; */
}

.container_item img{
    width: 100%;
    height: auto;
    object-fit: contain;
}