.header {
  width: 100%;
  height: 10vh;
  padding: 20px 50px;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo{
  font-weight: 700;
  font-size: 2rem;
}
.header_logo h1 span{
  color: var(--main);
}
.header_title{
  letter-spacing: 3px;
}
