.header {
  width: 15vw;
  height: 100vh;
  padding: 20px 50px;
  color: var(--lightgrey);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background:white;
  z-index: 1;
}
.header_logo h1{
  font-weight: 700;
  font-size: 2rem;
}
.header_logo h1 span{
  color: var(--main);
}
.header_title{
  letter-spacing: 3px;
}
